<!DOCTYPE html>
<html>
    <head>
        <title>Privileged4All</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="og:description" content="Privileged will enable people to create an environment that will help others in education. Our motto is communicate and learn!" />
        <meta name="og:author" content="Void()" />
        <meta name="og:title" content="Privileged4All" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="og:keywords" content="education, team, teams, management, communication, interaction, people, education with communication, help in education." />
        <meta name="fragment" content="!" />


        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/fullpage.js/jquery.fullPage.min.js"></script>
        <script src="/bower_components/fullpage.js/vendors/jquery.easings.min.js"></script>
        <script src="/bower_components/fullpage.js/vendors/jquery.slimscroll.min.js"></script>

        <!-- Stylesheets -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/bower_components/fullpage.js/jquery.fullPage.css" />
        <link rel='stylesheet' href='/stylesheets/index.css' />

        <script>

            $(document).ready(function() {

                var lang = location.href.split("=")[1];
                console.log(lang);
                if(lang === "kr") {
                    console.log("KR");
                    $(".lang a:nth-child(1)").removeClass("active");
                    $(".lang a:nth-child(3)").addClass("active");
                    $(".lang a:nth-child(5)").removeClass("active");

                }
                else if(lang === "jp") {
                    console.log("JP");
                    $(".lang a:nth-child(1)").removeClass("active");
                    $(".lang a:nth-child(3)").removeClass("active");
                    $(".lang a:nth-child(5)").addClass("active");
                }

                $('#fullpage').fullpage({
                     anchors: ['start','features', 'roadmap', 'started'],
                     resize: true,
                     animateAnchor:false,
                     scrollOverflow: true,
                     autoScrolling:true,
                     slidesNavigation: true,
                     fitSection: false,
                     fitToSection: true,
                     fitToSectionDelay: 100,
                     menu: '#navigation',
                     continuousVertical:false,
                     css3: true
                 });


             });


        </script>
        <base href="/">

    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="logo"><img src="images/logo.png" alt=""></div>
                <div id="login">
                    <li><a href="/index#/login" class="action">Login</a></li>
                </div>
                <div id="navigation">
                    <li data-menuanchor="start"><a href="#start"><%= indexObj.navtoggle[0] %></a></li>
                    <li data-menuanchor="features"><a href="#features"><%= indexObj.navtoggle[1] %></a></li>
                    <li data-menuanchor="roadmap"><a href="#roadmap"><%= indexObj.navtoggle[2] %></a></li>
                    <li data-menuanchor="started"><a href="#started"><%= indexObj.navtoggle[3] %></a></li>
                    <li ><a href="/index#/login" class="action"><%= indexObj.navtoggle[4] %></a></li>
                </div>
                <div class="lang">
                    <a href="/" class="active">EN</a>
                    <b> | </b>
                    <a href="/?lang=kr" data-toggle="tooltip" data-placement="bottom" title="Korean">KR</a>
                    <b> | </b>
                    <a href="/?lang=jp" data-toggle="tooltip" data-placement="bottom" title="Japanese">JP</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div id="fullpage">
            <div class="section intro" id="section0">
                <div class="quote">
                    <%= indexObj.start.heading %>
                    <div class="sub"><%= indexObj.start.sub %></div>
                    <a class="btn btn-learn" data-menuanchor="features" href="#features"><%= indexObj.start.toggle %></a>
                </div>
                <div class="scroll"><img src="images/scroll.png" alt=""></div>
            </div>
            <div class="section features" id="section1">
                <div class="slide">
                    <div class="page-header"><%= indexObj.features.heading %></div>
                    <div class="page-header-label"><i class="btl bt-arrow-left"></i> <%= indexObj.features.sub %> <i class="btl bt-arrow-right"></i></div>
                </div>
                <div class="slide">
                    <div class="info">
                        <div class="info-inner">
                            <div class="label"><%= indexObj.features.detail[0].tag %></div>
                            <div class="title"><%= indexObj.features.detail[0].heading %></div>
                            <%= indexObj.features.detail[0].detail %>
                        </div>
                    </div>
                    <div class="preview"><img src="/images/feature1.jpg" alt=""></div>
                </div>
                <div class="slide">
                    <div class="info">
                        <div class="info-inner">
                            <div class="label"><%= indexObj.features.detail[1].tag %></div>
                            <div class="title"><%= indexObj.features.detail[1].heading %></div>
                            <%= indexObj.features.detail[1].detail %>
                        </div>
                    </div>
                    <div class="preview"><img src="/images/feature2.gif"></div>
                </div>
                <div class="slide">
                    <div class="info">
                        <div class="info-inner">
                            <div class="label"><%= indexObj.features.detail[2].tag %></div>
                            <div class="title"><%= indexObj.features.detail[2].heading %></div>
                            <%= indexObj.features.detail[2].detail %>
                        </div>
                    </div>
                    <div class="preview"><img src="/images/feature-3.png"></div>
                </div>
                </div>
            <div class="section roadmap" id="section2">
                <div class="slide">
                    <div class="page-header"><%= indexObj.roadmap.heading %></div>
                    <div class="page-header-label"><i class="btl bt-arrow-left"></i><%= indexObj.roadmap.sub %><i class="btl bt-arrow-right"></i></div>
                </div>
                <div class="slide">
                    <div class="roadmap-inner">
                        <div class="timeline"><div class="timeline-start"></div></div>
                        <div class="dates"><div class="dates-inner"><div class="year"><%= indexObj.roadmap.detail[0].date %></div></div></div>
                        <div class="event"><%= indexObj.roadmap.detail[0].detail %></div>
                    </div>
                </div>
                <div class="slide">
                    <div class="roadmap-inner">
                        <div class="timeline"></div>
                        <div class="dates"><div class="dates-inner"><div class="year"><%= indexObj.roadmap.detail[1].date %></div></div></div>
                        <div class="event"><%= indexObj.roadmap.detail[1].detail %></div>
                    </div>
                </div>
                <div class="slide">
                    <div class="roadmap-inner">
                        <div class="timeline"></div>
                        <div class="dates"><div class="dates-inner"><div class="year"><%= indexObj.roadmap.detail[2].date %></div></div></div>
                        <div class="event"><%= indexObj.roadmap.detail[2].detail %></div>
                    </div>
                </div>
            </div>
            <div class="section footer" id="section3">
                <div class="footer-inner">
                    <div class="sub"><%= indexObj.getstarted.heading %></div>
                    <a class="type" href="/index#/login">
                        <i class="btl bt-user"></i>
                        <%= indexObj.getstarted.button %>
                    </a>
                </div>
                <div class="copyright">Copyright &copy 2015 <a href="#"> Void()</a> <i class="bts bt-circle"></i> <a href="#">Contact us</a> <i class="bts bt-circle"></i> <a href="https://www.facebook.com/">Facebook</a> <i class="bts bt-circle"></i> <a href="https://twitter.com/">Twitter</a></div>
            </div>
        </div>
    </body>
</html>
